### Importing Packages

In [263]:
import matplotlib
import numpy as np
import pandas as pd
import seaborn
import matplotlib.pyplot as plt
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

### Importing and reading datasets

In [264]:
Crimes_Against_ST = pd.read_csv("Crimes/02_District_wise_crimes_committed_against_ST_2001_2012.csv")
Crimes_Against_SC = pd.read_csv("Crimes/02_01_District_wise_crimes_committed_against_SC_2001_2012.csv")
Crimes_Against_IPC = pd.read_csv("Crimes/01_District_wise_crimes_committed_IPC_2001_2012.csv")
Crimes_Against_Children = pd.read_csv("Crimes/03_District_wise_crimes_committed_against_children_2001_2012.csv")
Crimes_Against_Women = pd.read_csv("Crimes/42_Cases_under_crime_against_women.csv")
Police_Strength = pd.read_csv("12_Police_strength_actual_and_sanctioned.csv")

## Data Preprocessing

In [265]:
Crimes_Against_ST.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14

In [266]:
Crimes_Against_SC.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7

In [267]:
Crimes_Against_IPC.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507

In [268]:
Crimes_Against_Women.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Acquitted_or_Discharged,Cases_charge_sheets_were_not_laid_but_Final_Report_submitted,Cases_Chargesheeted,Cases_Compounded_or_Withdrawn,Cases_Convicted,Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law,...,Cases_Pending_Investigation_at_Year_End,Cases_Pending_Investigation_from_previous_year,Cases_Pending_Trial_at_Year_End,Cases_Pending_Trial_from_the_previous_year,Cases_Reported,Cases_Sent_for_Trial,Cases_Trials_Completed,Cases_Withdrawn_by_the_Govt,Cases_withdrawn_by_the_Govt_during_investigation,Total_Cases_for_Trial
0,Andaman & Nicobar Islands,2001,Rape,01. Rape,5,2,3,0,0,0,...,1,3,34,36,3,3,5,0,0,39
1,Andhra Pradesh,2001,Rape,01. Rape,731,22,769,35,197,74,...,393,390,1974,2170,871,769,928,2,0,2937
2,Arunachal Pradesh,2001,Rape,01. Rape,1,2,25,0,2,0,...,18,12,282,260,33,25,3,0,0,285
3,Assam,2001,Rape,01. Rape,334,95,495,10,101,45,...,1045,863,1964,1914,817,495,435,0,0,2409
4,Bihar,2001,Rape,01. Rape,406,141,685,0,155,105,...,488,531,3185,3061,888,685,561,0,0,3746

In [269]:
Crimes_Against_Children.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [270]:
Police_Strength.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Rank_All_Ranks_Total,Rank_ASI_Equivalent,Rank_ASPDySPAssttCommandant,Rank_Below_HC_and_Above_Constables,Rank_Constables,Rank_DGAddl_DG,Rank_DIG,Rank_Head_Constables,Rank_IGSplIG,Rank_Inspectors_Equivalent,Rank_SI_Equivalent,Rank_SSPSPAddlSPCommandant
0,Andaman & Nicobar Islands,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),766,7,2,0,646,0,1,84,0,6,20,0
1,Andhra Pradesh,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),12510,433,56,0,8742,0,0,2864,0,132,270,13
2,Arunachal Pradesh,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),2232,14,15,169,1645,0,0,322,0,19,45,3
3,Assam,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),23963,36,135,2347,16591,0,0,3868,0,235,699,52
4,Bihar,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),373,0,0,0,326,0,0,41,0,2,4,0

### Crimes Against ST

In [271]:
Crimes_Against_ST = Crimes_Against_ST.drop(Crimes_Against_ST[Crimes_Against_ST.DISTRICT!="TOTAL"].index)

In [272]:
Crimes_Against_ST.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
28,ANDHRA PRADESH,TOTAL,2001,4,21,5,0,0,1,106,26,129,220
42,ARUNACHAL PRADESH,TOTAL,2001,4,5,7,0,0,1,18,0,0,37
70,ASSAM,TOTAL,2001,0,0,0,0,0,0,0,0,0,0
115,BIHAR,TOTAL,2001,1,4,1,0,0,0,5,8,10,18
134,CHHATTISGARH,TOTAL,2001,18,87,5,1,7,1,63,2,6,296

In [273]:
Crimes_Against_ST = Crimes_Against_ST.reset_index(drop=True)

In [274]:
Crimes_Against_ST.drop(['DISTRICT'], axis=1, inplace=True)

In [275]:
Crimes_Against_ST.Year==2012
Crimes_Against_ST = Crimes_Against_ST.drop(Crimes_Against_ST[Crimes_Against_ST.Year==2011].index)
Crimes_Against_ST = Crimes_Against_ST.drop(Crimes_Against_ST[Crimes_Against_ST.Year==2012].index)

In [276]:
Crimes_Against_ST=Crimes_Against_ST.apply(lambda x: x.astype(str).str.upper())
Crimes_Against_ST.columns = map(str.upper, Crimes_Against_ST.columns)

In [277]:

Crimes_Against_ST.to_csv("Test_CSVs/Crimes_Against_ST_Test.csv")

### Crimes Against SC

In [278]:
Crimes_Against_SC = Crimes_Against_SC.drop(Crimes_Against_SC[Crimes_Against_SC.DISTRICT!="TOTAL"].index)

In [279]:
Crimes_Against_SC.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
28,ANDHRA PRADESH,TOTAL,2001,45,69,22,3,2,6,518,950,312,1006
42,ARUNACHAL PRADESH,TOTAL,2001,0,0,0,0,0,0,0,0,0,0
70,ASSAM,TOTAL,2001,0,0,0,0,1,1,4,0,0,0
115,BIHAR,TOTAL,2001,28,35,8,2,1,17,378,513,81,240
134,CHHATTISGARH,TOTAL,2001,8,52,8,0,1,0,101,164,1,166

In [280]:
Crimes_Against_SC = Crimes_Against_SC.reset_index(drop=True)

In [281]:
Crimes_Against_SC.drop(['DISTRICT'], axis=1, inplace=True)

In [282]:
Crimes_Against_SC = Crimes_Against_SC.drop(Crimes_Against_SC[Crimes_Against_SC.Year==2011].index)
Crimes_Against_SC = Crimes_Against_SC.drop(Crimes_Against_SC[Crimes_Against_SC.Year==2012].index)

In [283]:
Crimes_Against_SC=Crimes_Against_SC.apply(lambda x: x.astype(str).str.upper())
Crimes_Against_SC.columns = map(str.upper, Crimes_Against_SC.columns)

In [284]:
Crimes_Against_SC.to_csv("Test_CSVs/Crimes_Against_SC_Test.csv")

### Crimes Against Children

In [285]:
Crimes_Against_Children = Crimes_Against_Children.drop(Crimes_Against_Children[Crimes_Against_Children.DISTRICT!="TOTAL"].index)

In [286]:
Crimes_Against_Children.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
28,ANDHRA PRADESH,TOTAL,2001,35.0,84.0,57.0,0.0,7.0,22.0,12.0,0.0,0.0,6.0,47.0,270
42,ARUNACHAL PRADESH,TOTAL,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
70,ASSAM,TOTAL,2001,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18
115,BIHAR,TOTAL,2001,2.0,16.0,26.0,0.0,0.0,1.0,16.0,1.0,1.0,2.0,18.0,83
137,GOA,TOTAL,2001,1.0,10.0,6.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,12.0,34

In [287]:
Crimes_Against_Children.reset_index(drop=True, inplace=True)
Crimes_Against_Children.drop(['DISTRICT'], axis=1, inplace=True)

In [288]:
Crimes_Against_Children = Crimes_Against_Children.drop(Crimes_Against_Children[Crimes_Against_Children.Year==2011].index)
Crimes_Against_Children = Crimes_Against_Children.drop(Crimes_Against_Children[Crimes_Against_Children.Year==2012].index)

In [289]:
Crimes_Against_Children=Crimes_Against_Children.apply(lambda x: x.astype(str).str.upper())
Crimes_Against_Children.columns = map(str.upper, Crimes_Against_Children.columns)

In [290]:
Crimes_Against_Children.to_csv("Test_CSVs/Crimes_Against_Children_Test.csv")

### Crimes Against Women

In [291]:
Crimes_Against_Women = Crimes_Against_Women[['Area_Name', 'Year', 'Group_Name', 'Total_Cases_for_Trial']]

In [292]:
Crimes_Against_Women=Crimes_Against_Women.apply(lambda x: x.astype(str).str.upper())
Crimes_Against_Women.columns = map(str.upper, Crimes_Against_Women.columns)

In [293]:
Crimes_Against_Women.to_csv("Test_CSVs/Crimes_Against_Women_Test.csv")

### Police Strength

In [294]:
Police_Strength = Police_Strength[['Area_Name','Year','Group_Name','Rank_All_Ranks_Total']]
Police_Strength = Police_Strength[Police_Strength.Group_Name.str.contains("Total")]
Police_Strength = Police_Strength[~Police_Strength.Group_Name.str.contains("Women")]
Police_Strength["Area_Name"]=Police_Strength["Area_Name"].str.upper()
Police_Strength = Police_Strength[~Police_Strength.Group_Name.str.contains("Sanctioned")]
Police_Strength.head()

,Area_Name,Year,Group_Name,Rank_All_Ranks_Total
698,ANDAMAN & NICOBAR ISLANDS,2001,Actual Police Strength - Total,2792
699,ANDHRA PRADESH,2001,Actual Police Strength - Total,77846
700,ARUNACHAL PRADESH,2001,Actual Police Strength - Total,5398
701,ASSAM,2001,Actual Police Strength - Total,53345
702,BIHAR,2001,Actual Police Strength - Total,45404

In [295]:

Police_Strength=Police_Strength.apply(lambda x: x.astype(str).str.upper())
for i in Police_Strength['Area_Name']:
    if i == 'DADRA & NAGAR HAVELI':
        Police_Strength.replace(i, 'D & N HAVELI', inplace=True)
    elif i == 'ANDAMAN & NICOBAR ISLANDS':
        Police_Strength.replace(i, 'A & N ISLANDS', inplace=True)
Police_Strength.columns = map(str.upper, Police_Strength.columns)

Police_Strength = Police_Strength.reset_index(drop=True)

In [296]:
Police_Strength.to_csv("Test_CSVs/Police_Strength_Test.csv")

### Crimes Against IPC

In [297]:
Crimes_Against_IPC = Crimes_Against_IPC.drop(Crimes_Against_IPC[Crimes_Against_IPC.DISTRICT != "TOTAL"].index)

In [298]:
Crimes_Against_IPC.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
28,ANDHRA PRADESH,TOTAL,2001,2602,1555,136,871,0,871,1182,...,872,34947,420,3544,2271,5791,7,7400,34344,130089
42,ARUNACHAL PRADESH,TOTAL,2001,83,53,3,33,0,33,83,...,13,466,0,78,3,11,0,0,618,2342
70,ASSAM,TOTAL,2001,1356,481,40,817,0,817,1480,...,441,5805,59,850,4,1248,0,2010,9315,36877
115,BIHAR,TOTAL,2001,3643,3419,250,888,0,888,2159,...,502,7544,859,562,21,1558,83,2406,36667,88432
135,CHHATTISGARH,TOTAL,2001,880,529,45,959,0,959,207,...,215,5477,70,1763,161,840,0,689,15790,38460

In [299]:
Crimes_Against_IPC.reset_index(drop=True, inplace=True)
Crimes_Against_IPC.rename(columns = {"STATE/UT": "Area_Name", "TOTAL IPC CRIMES": "TOTAL"}, inplace=True)
Crimes_Against_IPC.drop(['DISTRICT'], axis=1, inplace=True)

In [300]:
Crimes_Against_IPC = Crimes_Against_IPC.drop(Crimes_Against_IPC[Crimes_Against_IPC.YEAR==2011].index)
Crimes_Against_IPC = Crimes_Against_IPC.drop(Crimes_Against_IPC[Crimes_Against_IPC.YEAR==2012].index)

In [301]:
Crimes_Against_IPC=Crimes_Against_IPC.apply(lambda x: x.astype(str).str.upper())
Crimes_Against_IPC.columns = map(str.upper, Crimes_Against_IPC.columns)
Crimes_Against_IPC = Crimes_Against_IPC.reset_index(drop=True)

In [302]:
Crimes_Against_IPC.to_csv("Test_CSVs/Crimes_Against_IPC_Test.csv")

## Creating the Visualization

In [303]:
value="MURDER"
Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains("TAMIL NADU")].YEAR[:10]
Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains("TAMIL NADU")][:10]

,AREA_NAME,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL
23,TAMIL NADU,2001,1662,2204,19,423,0,423,952,607,...,980,28429,191,1773,1012,815,14,8550,76468,154801
57,TAMIL NADU,2002,1723,2133,36,534,0,534,1001,714,...,850,25150,243,1877,1718,1052,0,10125,88680,166942
91,TAMIL NADU,2003,1591,1843,28,557,1,556,879,632,...,791,30228,220,2022,881,1555,1,9112,77784,157186
125,TAMIL NADU,2004,1479,1772,26,618,0,618,870,692,...,662,30855,225,1861,1081,1437,0,9152,88439,166606
159,TAMIL NADU,2005,1440,1759,28,571,1,570,1029,783,...,495,31725,215,1764,665,1650,0,8902,86494,162360
193,TAMIL NADU,2006,1363,1599,20,457,0,457,906,718,...,460,14067,187,1179,852,1248,0,10792,94131,148972
227,TAMIL NADU,2007,1633,2078,28,523,0,523,1270,1097,...,653,16967,208,1540,875,1976,0,11485,110748,172754
261,TAMIL NADU,2008,1759,2327,28,573,0,573,1375,1160,...,610,20529,207,1705,974,1648,0,12328,107084,176833
295,TAMIL NADU,2009,1776,2325,26,596,0,596,1372,1133,...,580,18147,194,1242,501,1460,0,13528,106215,174691
329,TAMIL NADU,2010,1875,2641,32,686,0,686,1720,1464,...,636,21309,165,1405,638,1570,0,14644,110733,185678

In [304]:
val=""
app = dash.Dash(__name__)
x=Crimes_Against_IPC.AREA_NAME.unique()
options=[]
for i in x:
    options.append({'label': i, 'value': i})

crimeOptions=[]
for i in Crimes_Against_IPC.columns[2:]:
    crimeOptions.append({'label': i, 'value': i})

app.layout = html.Div([
    html.Div([
    dcc.Dropdown(
        id='state',
        options=options,
       placeholder="Select a state"
    )],style={'margin': '20px'}),
    html.Div([
    dcc.Dropdown(
        id='crime',
        options=crimeOptions,
       placeholder="Select a Crime"
    ),
    html.Div(id='dd-output-container'),
    html.Div([
dcc.Checklist(
    id='check',
    options=[
        {'label': 'Police Strength', 'value': 'p'},
        {'label': 'Crimes', 'value': 'c'}
    ],
    value=['p','c']
)],style={'margin': '20px'}),
    dcc.Graph(id="Graph")
],style={'margin': '20px'})

])

@app.callback(
    Output('Graph', 'figure'),
    Input('state', 'value'),
    Input('crime', 'value'),
    Input('check','value')
)



def update_figure(value,crimeValue,check):
    fig = make_subplots(specs=[[{"secondary_y": True}]])
    if('p'in check):
        fig.add_trace(
            go.Scatter(
                x=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].YEAR,
                y=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].RANK_ALL_RANKS_TOTAL,
                name="Police Strength",
            ),
            secondary_y=True,
        )
    if('c' in check):
        fig.add_trace(
            go.Bar(
                x=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)].YEAR,
                y=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)][crimeValue],
                name=crimeValue+"Cases"
            ),
            secondary_y=False,
        )

    fig.update_layout(title_text = "Number of "+crimeValue+" cases Against IPC vs Police Strength")
    fig.update_xaxes(title_text="Year", dtick=1)
    fig.update_yaxes(title_text="Cases", secondary_y=False)
    fig.update_yaxes(title_text="Police Strength", secondary_y=True)
    fig.update_layout(autotypenumbers='convert types')
    return fig


if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Nov/2021 15:52:59] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Nov/2021 15:53:00] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Nov/2021 15:53:00] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Nov/2021 15:53:00] "GET /_favicon.ico?v=2.0.0 HTTP/1.1" 200 -
127.0.0.1 - - [28/Nov/2021 15:53:00] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [28/Nov/2021 15:53:00] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [28/Nov/2021 15:53:00] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 54, in update_figure
    x=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].YEAR,
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 101, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 1110, in contains
    result = self._data.array._str_contains(pat, case, flags, na, regex)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\object_array.py", line 110, in _str_contains
    regex = re.compile(pat, flags=flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 252, in compile
    return _compile(pattern, flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 303, in _compile
    raise TypeError("first argument must be string or compiled pattern")
TypeError: first argument must be string or compiled pattern
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 54, in update_figure
    x=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].YEAR,
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 101, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 1110, in contains
    result = self._data.array._str_contains(pat, case, flags, na, regex)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\object_array.py", line 110, in _str_contains
    regex = re.compile(pat, flags=flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 252, in compile
    return _compile(pattern, flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 303, in _compile
    raise TypeError("first argument must be string or compiled pattern")
TypeError: first argument must be string or compiled pattern
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 54, in update_figure
    x=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].YEAR,
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 101, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 1110, in contains
    result = self._data.array._str_contains(pat, case, flags, na, regex)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\object_array.py", line 110, in _str_contains
    regex = re.compile(pat, flags=flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 252, in compile
    return _compile(pattern, flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 303, in _compile
    raise TypeError("first argument must be string or compiled pattern")
TypeError: first argument must be string or compiled pattern
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 54, in update_figure
    x=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].YEAR,
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 101, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 1110, in contains
    result = self._data.array._str_contains(pat, case, flags, na, regex)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\object_array.py", line 110, in _str_contains
    regex = re.compile(pat, flags=flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 252, in compile
    return _compile(pattern, flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 303, in _compile
    raise TypeError("first argument must be string or compiled pattern")
TypeError: first argument must be string or compiled pattern
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 54, in update_figure
    x=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].YEAR,
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 101, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 1110, in contains
    result = self._data.array._str_contains(pat, case, flags, na, regex)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\object_array.py", line 110, in _str_contains
    regex = re.compile(pat, flags=flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 252, in compile
    return _compile(pattern, flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 303, in _compile
    raise TypeError("first argument must be string or compiled pattern")
TypeError: first argument must be string or compiled pattern
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 54, in update_figure
    x=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].YEAR,
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 101, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 1110, in contains
    result = self._data.array._str_contains(pat, case, flags, na, regex)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\object_array.py", line 110, in _str_contains
    regex = re.compile(pat, flags=flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 252, in compile
    return _compile(pattern, flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 303, in _compile
    raise TypeError("first argument must be string or compiled pattern")
TypeError: first argument must be string or compiled pattern
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 54, in update_figure
    x=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].YEAR,
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 101, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\accessor.py", line 1110, in contains
    result = self._data.array._str_contains(pat, case, flags, na, regex)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\strings\object_array.py", line 110, in _str_contains
    regex = re.compile(pat, flags=flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 252, in compile
    return _compile(pattern, flags)
  File "C:\Users\abhin\anaconda3\lib\re.py", line 303, in _compile
    raise TypeError("first argument must be string or compiled pattern")
TypeError: first argument must be string or compiled pattern

127.0.0.1 - - [28/Nov/2021 15:53:00] "POST /_dash-update-component HTTP/1.1" 500 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3080, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 4554, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 4562, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: None

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 64, in update_figure
    y=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)][crimeValue],
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\frame.py", line 3024, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3082, in get_loc
    raise KeyError(key) from err
KeyError: None
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3080, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 4554, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 4562, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: None

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 64, in update_figure
    y=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)][crimeValue],
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\frame.py", line 3024, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3082, in get_loc
    raise KeyError(key) from err
KeyError: None
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3080, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 4554, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 4562, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: None

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 64, in update_figure
    y=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)][crimeValue],
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\frame.py", line 3024, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3082, in get_loc
    raise KeyError(key) from err
KeyError: None
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3080, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 4554, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 4562, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: None

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 64, in update_figure
    y=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)][crimeValue],
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\frame.py", line 3024, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3082, in get_loc
    raise KeyError(key) from err
KeyError: None
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3080, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 4554, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 4562, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: None

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 64, in update_figure
    y=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)][crimeValue],
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\frame.py", line 3024, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3082, in get_loc
    raise KeyError(key) from err
KeyError: None
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3080, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 4554, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 4562, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: None

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 64, in update_figure
    y=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)][crimeValue],
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\frame.py", line 3024, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3082, in get_loc
    raise KeyError(key) from err
KeyError: None
Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3080, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 70, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 101, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 4554, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 4562, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: None

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\abhin\anaconda3\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\abhin\anaconda3\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-304-b39a91c72727>", line 64, in update_figure
    y=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)][crimeValue],
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\frame.py", line 3024, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\abhin\anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 3082, in get_loc
    raise KeyError(key) from err
KeyError: None

127.0.0.1 - - [28/Nov/2021 15:53:06] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [28/Nov/2021 15:53:07] "POST /_dash-update-component HTTP/1.1" 200 -

In [ ]:
print(crimeOptions)

[{'label': 'MURDER', 'value': 'MURDER'}, {'label': 'ATTEMPT TO MURDER', 'value': 'ATTEMPT TO MURDER'}, {'label': 'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'value': 'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER'}, {'label': 'RAPE', 'value': 'RAPE'}, {'label': 'CUSTODIAL RAPE', 'value': 'CUSTODIAL RAPE'}, {'label': 'OTHER RAPE', 'value': 'OTHER RAPE'}, {'label': 'KIDNAPPING & ABDUCTION', 'value': 'KIDNAPPING & ABDUCTION'}, {'label': 'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS', 'value': 'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS'}, {'label': 'KIDNAPPING AND ABDUCTION OF OTHERS', 'value': 'KIDNAPPING AND ABDUCTION OF OTHERS'}, {'label': 'DACOITY', 'value': 'DACOITY'}, {'label': 'PREPARATION AND ASSEMBLY FOR DACOITY', 'value': 'PREPARATION AND ASSEMBLY FOR DACOITY'}, {'label': 'ROBBERY', 'value': 'ROBBERY'}, {'label': 'BURGLARY', 'value': 'BURGLARY'}, {'label': 'THEFT', 'value': 'THEFT'}, {'label': 'AUTO THEFT', 'value': 'AUTO THEFT'}, {'label': 'OTHER THEFT', 'value': 'OTHER THEFT'}, {'label': 'RIOTS', 'value': 'RIOTS'}, {'label': 'CRIMINAL BREACH OF TRUST', 'value': 'CRIMINAL BREACH OF TRUST'}, {'label': 'CHEATING', 'value': 'CHEATING'}, {'label': 'COUNTERFIETING', 'value': 'COUNTERFIETING'}, {'label': 'ARSON', 'value': 'ARSON'}, {'label': 'HURT/GREVIOUS HURT', 'value': 'HURT/GREVIOUS HURT'}, {'label': 'DOWRY DEATHS', 'value': 'DOWRY DEATHS'}, {'label': 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY', 'value': 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY'}, {'label': 'INSULT TO MODESTY OF WOMEN', 'value': 'INSULT TO MODESTY OF WOMEN'}, {'label': 'CRUELTY BY HUSBAND OR HIS RELATIVES', 'value': 'CRUELTY BY HUSBAND OR HIS RELATIVES'}, {'label': 'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES', 'value': 'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES'}, {'label': 'CAUSING DEATH BY NEGLIGENCE', 'value': 'CAUSING DEATH BY NEGLIGENCE'}, {'label': 'OTHER IPC CRIMES', 'value': 'OTHER IPC CRIMES'}, {'label': 'TOTAL', 'value': 'TOTAL'}]