### Importing Packages

In [1]:
import numpy as np
import pandas as pd
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
import plotly.express as px
import plotly.io as pio
import plotly.graph_objects as go
from plotly.subplots import make_subplots

### Importing and reading datasets

In [2]:
Crimes_Against_ST = pd.read_csv("Crimes/02_District_wise_crimes_committed_against_ST_2001_2012.csv")
Crimes_Against_SC = pd.read_csv("Crimes/02_01_District_wise_crimes_committed_against_SC_2001_2012.csv")
Crimes_Against_IPC = pd.read_csv("Crimes/01_District_wise_crimes_committed_IPC_2001_2012.csv")
Crimes_Against_Children = pd.read_csv("Crimes/03_District_wise_crimes_committed_against_children_2001_2012.csv")
Crimes_Against_Women = pd.read_csv("Crimes/42_Cases_under_crime_against_women.csv")
Police_Strength = pd.read_csv("12_Police_strength_actual_and_sanctioned.csv")

## Data Preprocessing

In [3]:
Crimes_Against_ST.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14

In [4]:
Crimes_Against_SC.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7

In [5]:
Crimes_Against_IPC.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507

In [6]:
Crimes_Against_Women.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Acquitted_or_Discharged,Cases_charge_sheets_were_not_laid_but_Final_Report_submitted,Cases_Chargesheeted,Cases_Compounded_or_Withdrawn,Cases_Convicted,Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law,...,Cases_Pending_Investigation_at_Year_End,Cases_Pending_Investigation_from_previous_year,Cases_Pending_Trial_at_Year_End,Cases_Pending_Trial_from_the_previous_year,Cases_Reported,Cases_Sent_for_Trial,Cases_Trials_Completed,Cases_Withdrawn_by_the_Govt,Cases_withdrawn_by_the_Govt_during_investigation,Total_Cases_for_Trial
0,Andaman & Nicobar Islands,2001,Rape,01. Rape,5,2,3,0,0,0,...,1,3,34,36,3,3,5,0,0,39
1,Andhra Pradesh,2001,Rape,01. Rape,731,22,769,35,197,74,...,393,390,1974,2170,871,769,928,2,0,2937
2,Arunachal Pradesh,2001,Rape,01. Rape,1,2,25,0,2,0,...,18,12,282,260,33,25,3,0,0,285
3,Assam,2001,Rape,01. Rape,334,95,495,10,101,45,...,1045,863,1964,1914,817,495,435,0,0,2409
4,Bihar,2001,Rape,01. Rape,406,141,685,0,155,105,...,488,531,3185,3061,888,685,561,0,0,3746

In [7]:
Crimes_Against_Children.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [8]:
Police_Strength.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Rank_All_Ranks_Total,Rank_ASI_Equivalent,Rank_ASPDySPAssttCommandant,Rank_Below_HC_and_Above_Constables,Rank_Constables,Rank_DGAddl_DG,Rank_DIG,Rank_Head_Constables,Rank_IGSplIG,Rank_Inspectors_Equivalent,Rank_SI_Equivalent,Rank_SSPSPAddlSPCommandant
0,Andaman & Nicobar Islands,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),766,7,2,0,646,0,1,84,0,6,20,0
1,Andhra Pradesh,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),12510,433,56,0,8742,0,0,2864,0,132,270,13
2,Arunachal Pradesh,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),2232,14,15,169,1645,0,0,322,0,19,45,3
3,Assam,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),23963,36,135,2347,16591,0,0,3868,0,235,699,52
4,Bihar,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),373,0,0,0,326,0,0,41,0,2,4,0

### Crimes Against ST

In [9]:
Crimes_Against_ST.drop(Crimes_Against_ST[Crimes_Against_ST.DISTRICT!="TOTAL"].index, inplace=True)

In [10]:
Crimes_Against_ST = Crimes_Against_ST.reset_index(drop=True)

In [11]:
Crimes_Against_ST.drop(['DISTRICT'], axis=1, inplace=True)

In [12]:
Crimes_Against_ST.drop(Crimes_Against_ST[Crimes_Against_ST.Year==2011].index, inplace=True)
Crimes_Against_ST.drop(Crimes_Against_ST[Crimes_Against_ST.Year==2012].index, inplace=True)

In [13]:
Crimes_Against_ST = Crimes_Against_ST.apply(lambda x: x.astype(str).str.upper())
Crimes_Against_ST.columns = map(str.upper, Crimes_Against_ST.columns)

In [14]:
Crimes_Against_ST.to_csv("Test_CSVs/Crimes_Against_ST_Test.csv")

### Crimes Against SC

In [15]:
Crimes_Against_SC.drop(Crimes_Against_SC[Crimes_Against_SC.DISTRICT != "TOTAL"].index, inplace=True)

In [16]:
Crimes_Against_SC = Crimes_Against_SC.reset_index(drop=True)

In [17]:
Crimes_Against_SC.drop(['DISTRICT'], axis=1, inplace=True)

In [18]:
Crimes_Against_SC.drop(Crimes_Against_SC[Crimes_Against_SC.Year==2011].index, inplace=True)
Crimes_Against_SC.drop(Crimes_Against_SC[Crimes_Against_SC.Year==2012].index, inplace=True)

In [19]:
Crimes_Against_SC = Crimes_Against_SC.apply(lambda x: x.astype(str).str.upper())
Crimes_Against_SC.columns = map(str.upper, Crimes_Against_SC.columns)

In [20]:
Crimes_Against_SC.to_csv("Test_CSVs/Crimes_Against_SC_Test.csv")

### Crimes Against Children

In [21]:
Crimes_Against_Children.drop(Crimes_Against_Children[Crimes_Against_Children.DISTRICT!="TOTAL"].index, inplace=True)

In [22]:
Crimes_Against_Children.reset_index(drop=True, inplace=True)
Crimes_Against_Children.drop(['DISTRICT'], axis=1, inplace=True)

In [23]:
Crimes_Against_Children.drop(Crimes_Against_Children[Crimes_Against_Children.Year==2011].index, inplace=True)
Crimes_Against_Children.drop(Crimes_Against_Children[Crimes_Against_Children.Year==2012].index, inplace=True)

In [24]:
Crimes_Against_Children = Crimes_Against_Children.apply(lambda x: x.astype(str).str.upper())
Crimes_Against_Children.columns = map(str.upper, Crimes_Against_Children.columns)

In [25]:
Crimes_Against_Children.to_csv("Test_CSVs/Crimes_Against_Children_Test.csv")

### Crimes Against Women

In [26]:
Crimes_Against_Women = Crimes_Against_Women[['Area_Name', 'Year', 'Group_Name', 'Total_Cases_for_Trial']]

In [27]:
Crimes_Against_Women = Crimes_Against_Women.apply(lambda x: x.astype(str).str.upper())
Crimes_Against_Women.columns = map(str.upper, Crimes_Against_Women.columns)

In [28]:
Crimes_Against_Women.to_csv("Test_CSVs/Crimes_Against_Women_Test.csv")

### Police Strength

In [29]:
Police_Strength = Police_Strength[['Area_Name','Year','Group_Name','Rank_All_Ranks_Total']]
Police_Strength = Police_Strength[Police_Strength.Group_Name.str.contains("Total")]
Police_Strength = Police_Strength[~Police_Strength.Group_Name.str.contains("Women")]
Police_Strength["Area_Name"] = Police_Strength["Area_Name"].str.upper()
Police_Strength = Police_Strength[~Police_Strength.Group_Name.str.contains("Sanctioned")]

In [30]:
Police_Strength=Police_Strength.apply(lambda x: x.astype(str).str.upper())

for i in Police_Strength['Area_Name']:
    if i == 'DADRA & NAGAR HAVELI':
        Police_Strength.replace(i, 'D & N HAVELI', inplace=True)
    elif i == 'ANDAMAN & NICOBAR ISLANDS':
        Police_Strength.replace(i, 'A & N ISLANDS', inplace=True)
Police_Strength.columns = map(str.upper, Police_Strength.columns)

Police_Strength.reset_index(drop=True, inplace=True)

In [31]:
Police_Strength.to_csv("Test_CSVs/Police_Strength_Test.csv")

### Crimes Against IPC

In [32]:
Crimes_Against_IPC.drop(Crimes_Against_IPC[Crimes_Against_IPC.DISTRICT != "TOTAL"].index, inplace=True)

In [33]:
Crimes_Against_IPC.reset_index(drop=True, inplace=True)
Crimes_Against_IPC.rename(columns = {"STATE/UT": "Area_Name", "TOTAL IPC CRIMES": "TOTAL"}, inplace=True)
Crimes_Against_IPC.drop(['DISTRICT'], axis=1, inplace=True)

In [34]:
Crimes_Against_IPC.drop(Crimes_Against_IPC[Crimes_Against_IPC.YEAR==2011].index, inplace=True)
Crimes_Against_IPC.drop(Crimes_Against_IPC[Crimes_Against_IPC.YEAR==2012].index, inplace=True)

In [35]:
Crimes_Against_IPC = Crimes_Against_IPC.apply(lambda x: x.astype(str).str.upper())
Crimes_Against_IPC.columns = map(str.upper, Crimes_Against_IPC.columns)
Crimes_Against_IPC.reset_index(drop=True, inplace=True)

In [36]:
Crimes_Against_IPC.to_csv("Test_CSVs/Crimes_Against_IPC_Test.csv")

## Creating the Visualization

### Bar-line Graph of Area+Crime vs Police Strength from 2001-2010

In [37]:
x = Crimes_Against_IPC.AREA_NAME.unique()
options = []
for i in x:
    options.append({'label': i, 'value': i})

crimeOptions=[]
for i in Crimes_Against_IPC.columns[2:]:
    crimeOptions.append({'label': i, 'value': i})

### Scatterplot of Police Strength vs Crime Rate

In [38]:
caipc = Crimes_Against_IPC
caipc.sort_values(by=['AREA_NAME', 'YEAR'], inplace=True)
caipc.reset_index(drop=True, inplace=True)
caipc.head()

,AREA_NAME,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL
0,A & N ISLANDS,2001,13,0,0,3,0,3,2,2,...,4,118,0,19,1,9,0,0,323,658
1,A & N ISLANDS,2002,17,3,1,2,0,2,2,1,...,2,97,0,17,3,4,0,0,328,608
2,A & N ISLANDS,2003,21,4,1,2,0,2,2,2,...,8,110,0,9,2,7,0,0,318,644
3,A & N ISLANDS,2004,15,1,2,10,0,10,3,3,...,9,105,0,6,3,5,0,6,387,748
4,A & N ISLANDS,2005,14,3,3,4,0,4,2,1,...,6,79,0,11,1,5,0,3,362,682

In [39]:
ps = Police_Strength
ps.sort_values(by=['AREA_NAME', 'YEAR'], inplace=True)
ps.reset_index(drop=True, inplace=True)
ps.head()

       AREA_NAME  YEAR                      GROUP_NAME RANK_ALL_RANKS_TOTAL
0  A & N ISLANDS  2001  ACTUAL POLICE STRENGTH - TOTAL                 2792
1  A & N ISLANDS  2002  ACTUAL POLICE STRENGTH - TOTAL                 2972
2  A & N ISLANDS  2003  ACTUAL POLICE STRENGTH - TOTAL                 2685
3  A & N ISLANDS  2004  ACTUAL POLICE STRENGTH - TOTAL                 2740
4  A & N ISLANDS  2005  ACTUAL POLICE STRENGTH - TOTAL                 2744

In [40]:
df2 = pd.merge(caipc, ps, on=["AREA_NAME", "YEAR"])
df2.head()

,AREA_NAME,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS,...,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL,GROUP_NAME,RANK_ALL_RANKS_TOTAL
0,A & N ISLANDS,2001,13,0,0,3,0,3,2,2,...,0,19,1,9,0,0,323,658,ACTUAL POLICE STRENGTH - TOTAL,2792
1,A & N ISLANDS,2002,17,3,1,2,0,2,2,1,...,0,17,3,4,0,0,328,608,ACTUAL POLICE STRENGTH - TOTAL,2972
2,A & N ISLANDS,2003,21,4,1,2,0,2,2,2,...,0,9,2,7,0,0,318,644,ACTUAL POLICE STRENGTH - TOTAL,2685
3,A & N ISLANDS,2004,15,1,2,10,0,10,3,3,...,0,6,3,5,0,6,387,748,ACTUAL POLICE STRENGTH - TOTAL,2740
4,A & N ISLANDS,2005,14,3,3,4,0,4,2,1,...,0,11,1,5,0,3,362,682,ACTUAL POLICE STRENGTH - TOTAL,2744

In [41]:
app = dash.Dash()

app.layout = html.Div([
    html.Div([
        dcc.Dropdown(
            id='state',
            options=options,
            placeholder="Select a state",
            style={'margin-bottom': '20px'}
        ),
        
        dcc.Dropdown(
            id='crime',
            options=crimeOptions,
            placeholder="Select a Crime"
        ),
    ], style={'margin': '20px'}),

    html.Div([
        dcc.Dropdown(
            id='year',
            options=[
                {'label':'2001', 'value':'2001'},
                {'label':'2002', 'value':'2002'},
                {'label':'2003', 'value':'2003'},
                {'label':'2004', 'value':'2004'},
                {'label':'2005', 'value':'2005'},
                {'label':'2006', 'value':'2006'},
                {'label':'2007', 'value':'2007'},
                {'label':'2008', 'value':'2008'},
                {'label':'2009', 'value':'2009'},
                {'label':'2010', 'value':'2010'}, 
            ],
            placeholder="Select a year",
            style={'margin-bottom': '20px'}
        ), 
    ], style={'margin': '20px'}),

    html.Div([
        dcc.Graph(id="Graph")
    ], style={'margin': '20px'}),

    html.Div([
        dcc.Graph(id="Graph2")
    ], style={'margin': '20px'}),

    html.Div([
        dcc.Graph(id="pie_chart")
    ], style={'margin': '20px'}),
])

@app.callback(
    Output('Graph', 'figure'),
    Output('Graph2', 'figure'),
    Output('pie_chart', 'figure'), 
    Input('state', 'value'),
    Input('crime', 'value'),
    Input('year', 'value'),
    )

def update_figure(value, crimeValue, yearValue):
    # Bar-line Graph of Area+Crime vs Police Strength from 2001-2010
    fig = make_subplots(specs=[[{"secondary_y": True}]])
    fig.add_trace(
        go.Scatter(
            x=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].YEAR,
            y=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].RANK_ALL_RANKS_TOTAL,
            name="Police Strength",
        ),
        secondary_y=True,
    ) 

    fig.add_trace(
        go.Bar(
            x=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)].YEAR,
            y=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)][crimeValue],
            name=crimeValue+" Cases"
        ),
        secondary_y=False,
    )

    fig.update_layout(title_text = "Number of " + crimeValue + " cases Against IPC vs Police Strength")
    fig.update_xaxes(title_text="Year", dtick=1)
    fig.update_yaxes(title_text="Cases", secondary_y=False)
    fig.update_yaxes(title_text="Police Strength", secondary_y=True)
    fig.update_layout(autotypenumbers='convert types') 


    # Bubble Chart of Police Strength vs Crime Rate
    df2 = pd.merge(caipc, ps, on=['AREA_NAME', 'YEAR'])
    df2 = df2[['AREA_NAME', 'YEAR', crimeValue, 'RANK_ALL_RANKS_TOTAL']]
    df2.rename(columns={crimeValue: 'CRIME', 'RANK_ALL_RANKS_TOTAL': 'STRENGTH'}, inplace=True)

    df2['CRIME'] = pd.to_numeric(df2['CRIME'], errors='coerce')
    df2 = df2.dropna(subset=['CRIME'])
    df2['CRIME'] = df2['CRIME'].astype(int)

    fig2 = px.scatter(df2, x="STRENGTH", y="CRIME", color="AREA_NAME",
            animation_frame="YEAR", animation_group="AREA_NAME",
            size='CRIME', hover_name="AREA_NAME",
            size_max=50, height=800
            )

    fig2.update_layout(autotypenumbers='convert types', title_text="Police Strength vs Crime Rate", transition={"duration": 500})
    fig2.update_xaxes(title_text="Police Strength")
    fig2.update_yaxes(title_text="Total Cases")
    #Pie chart of Different types of Crimes 
    caipc2 = Crimes_Against_IPC
    caipc2 = caipc2[caipc2['AREA_NAME'] == value]
    caipc2 = caipc2[caipc2['YEAR'] == yearValue]
    caipc2.head()

    crimesOptions=[]
    numbers=[]
    for i in caipc2.columns[2:]:
            crimesOptions.append(i)
            numbers.append(caipc2.iloc[0][i])
        
    print(len(crimesOptions)) 

    cols = ['crimesOptions', 'numbers']
    df3 = pd.DataFrame(columns=cols, index=range(29))
    for a in range(29):
            df3.loc[a].crimesOptions = crimesOptions[a]
            df3.loc[a].numbers = numbers[a] 
    df3

    fig3 = px.pie(
                data_frame=df3,
                values='numbers',
                names='crimesOptions',                  
                title='Different types of Crimes',   
                template='presentation',
                width=1600,
                height=1600,                            
            )  
    fig3.update_layout( title_text="Different types of Crimes in "+ value + " in year " + yearValue, transition={"duration": 500})
     
    return fig, fig2, fig3

app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [29/Nov/2021 02:24:02] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [29/Nov/2021 02:24:02] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [29/Nov/2021 02:24:02] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [29/Nov/2021 02:24:02] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [29/Nov/2021 02:24:02] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [29/Nov/2021 02:24:02] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 2073, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1518, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1516, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1502, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "C:\Users\HP\AppData\Local\Temp/ipykernel_22724/2506033814.py", line 66, in update_figure
    x=Police_Strength[Police_Strength.AREA_NAME.str.contains(value)].YEAR,
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\strings\accessor.py", line 116, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\strings\accessor.py", line 1153, in contains
    if regex and re.compile(pat).groups:
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\re.py", line 252, in compile
    return _compile(pattern, flags)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\re.py", line 303, in _compile
    raise TypeError("first argument must be string or compiled pattern")
TypeError: first argument must be string or compiled pattern

127.0.0.1 - - [29/Nov/2021 02:24:02] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [29/Nov/2021 02:24:03] "GET /_favicon.ico?v=2.0.0 HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexes\base.py", line 3361, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas\_libs\index.pyx", line 76, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 108, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 5198, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 5206, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: None

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 2073, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1518, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1516, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1502, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "C:\Users\HP\AppData\Local\Temp/ipykernel_22724/2506033814.py", line 76, in update_figure
    y=Crimes_Against_IPC[Crimes_Against_IPC.AREA_NAME.str.contains(value)][crimeValue],
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py", line 3458, in __getitem__
    indexer = self.columns.get_loc(key)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexes\base.py", line 3363, in get_loc
    raise KeyError(key) from err
KeyError: None

127.0.0.1 - - [29/Nov/2021 02:24:05] "POST /_dash-update-component HTTP/1.1" 500 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 2073, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1518, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1516, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\flask\app.py", line 1502, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\dash\dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\dash\_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "C:\Users\HP\AppData\Local\Temp/ipykernel_22724/2506033814.py", line 117, in update_figure
    numbers.append(caipc2.iloc[0][i])
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py", line 931, in __getitem__
    return self._getitem_axis(maybe_callable, axis=axis)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py", line 1566, in _getitem_axis
    self._validate_integer(key, axis)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py", line 1500, in _validate_integer
    raise IndexError("single positional indexer is out-of-bounds")
IndexError: single positional indexer is out-of-bounds

127.0.0.1 - - [29/Nov/2021 02:24:08] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [29/Nov/2021 02:24:09] "POST /_dash-update-component HTTP/1.1" 200 -

30

127.0.0.1 - - [29/Nov/2021 02:24:48] "POST /_dash-update-component HTTP/1.1" 200 -

30

127.0.0.1 - - [29/Nov/2021 02:24:58] "POST /_dash-update-component HTTP/1.1" 200 -

30

127.0.0.1 - - [29/Nov/2021 02:25:04] "POST /_dash-update-component HTTP/1.1" 200 -

30