### Importing Packages

In [35]:
import matplotlib
import numpy as np
import pandas as pd
import seaborn
import matplotlib.pyplot as plt
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
import plotly.express as px
import json

### Importing and reading datasets

In [2]:
Crimes_Against_ST = pd.read_csv("Crimes/02_District_wise_crimes_committed_against_ST_2001_2012.csv")
Crimes_Against_SC = pd.read_csv("Crimes/02_01_District_wise_crimes_committed_against_SC_2001_2012.csv")
Crimes_Against_IPC = pd.read_csv("Crimes/01_District_wise_crimes_committed_IPC_2001_2012.csv")
Crimes_Against_Children = pd.read_csv("Crimes/03_District_wise_crimes_committed_against_children_2001_2012.csv")
Crimes_Against_Women = pd.read_csv("Crimes/42_Cases_under_crime_against_women.csv")
Police_Strength = pd.read_csv("12_Police_strength_actual_and_sanctioned.csv")

## Data Preprocessing

In [3]:
Crimes_Against_ST.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14

In [4]:
Crimes_Against_SC.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7

In [5]:
Crimes_Against_IPC.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507

In [6]:
Crimes_Against_Women.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Acquitted_or_Discharged,Cases_charge_sheets_were_not_laid_but_Final_Report_submitted,Cases_Chargesheeted,Cases_Compounded_or_Withdrawn,Cases_Convicted,Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law,...,Cases_Pending_Investigation_at_Year_End,Cases_Pending_Investigation_from_previous_year,Cases_Pending_Trial_at_Year_End,Cases_Pending_Trial_from_the_previous_year,Cases_Reported,Cases_Sent_for_Trial,Cases_Trials_Completed,Cases_Withdrawn_by_the_Govt,Cases_withdrawn_by_the_Govt_during_investigation,Total_Cases_for_Trial
0,Andaman & Nicobar Islands,2001,Rape,01. Rape,5,2,3,0,0,0,...,1,3,34,36,3,3,5,0,0,39
1,Andhra Pradesh,2001,Rape,01. Rape,731,22,769,35,197,74,...,393,390,1974,2170,871,769,928,2,0,2937
2,Arunachal Pradesh,2001,Rape,01. Rape,1,2,25,0,2,0,...,18,12,282,260,33,25,3,0,0,285
3,Assam,2001,Rape,01. Rape,334,95,495,10,101,45,...,1045,863,1964,1914,817,495,435,0,0,2409
4,Bihar,2001,Rape,01. Rape,406,141,685,0,155,105,...,488,531,3185,3061,888,685,561,0,0,3746

In [7]:
Crimes_Against_Children.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [8]:
Police_Strength.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Rank_All_Ranks_Total,Rank_ASI_Equivalent,Rank_ASPDySPAssttCommandant,Rank_Below_HC_and_Above_Constables,Rank_Constables,Rank_DGAddl_DG,Rank_DIG,Rank_Head_Constables,Rank_IGSplIG,Rank_Inspectors_Equivalent,Rank_SI_Equivalent,Rank_SSPSPAddlSPCommandant
0,Andaman & Nicobar Islands,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),766,7,2,0,646,0,1,84,0,6,20,0
1,Andhra Pradesh,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),12510,433,56,0,8742,0,0,2864,0,132,270,13
2,Arunachal Pradesh,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),2232,14,15,169,1645,0,0,322,0,19,45,3
3,Assam,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),23963,36,135,2347,16591,0,0,3868,0,235,699,52
4,Bihar,2001,Actual Police Strength - Armed Police,A2. Acual Armed Police (Incl. Women Police),373,0,0,0,326,0,0,41,0,2,4,0

### Crimes Against ST

In [9]:
Crimes_Against_ST = Crimes_Against_ST.drop(Crimes_Against_ST[Crimes_Against_ST.DISTRICT!="TOTAL"].index)

In [10]:
Crimes_Against_ST.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
28,ANDHRA PRADESH,TOTAL,2001,4,21,5,0,0,1,106,26,129,220
42,ARUNACHAL PRADESH,TOTAL,2001,4,5,7,0,0,1,18,0,0,37
70,ASSAM,TOTAL,2001,0,0,0,0,0,0,0,0,0,0
115,BIHAR,TOTAL,2001,1,4,1,0,0,0,5,8,10,18
134,CHHATTISGARH,TOTAL,2001,18,87,5,1,7,1,63,2,6,296

In [11]:
Crimes_Against_ST = Crimes_Against_ST.reset_index(drop=True)

In [12]:
Crimes_Against_ST.drop(['DISTRICT'], axis=1, inplace=True)

In [13]:
Crimes_Against_ST.to_csv("Test_CSVs/Crimes_Against_ST_Test.csv")

### Crimes Against SC

In [14]:
Crimes_Against_SC = Crimes_Against_SC.drop(Crimes_Against_SC[Crimes_Against_SC.DISTRICT!="TOTAL"].index)

In [15]:
Crimes_Against_SC.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
28,ANDHRA PRADESH,TOTAL,2001,45,69,22,3,2,6,518,950,312,1006
42,ARUNACHAL PRADESH,TOTAL,2001,0,0,0,0,0,0,0,0,0,0
70,ASSAM,TOTAL,2001,0,0,0,0,1,1,4,0,0,0
115,BIHAR,TOTAL,2001,28,35,8,2,1,17,378,513,81,240
134,CHHATTISGARH,TOTAL,2001,8,52,8,0,1,0,101,164,1,166

In [16]:
Crimes_Against_SC = Crimes_Against_SC.reset_index(drop=True)

In [17]:
Crimes_Against_SC.drop(['DISTRICT'], axis=1, inplace=True)

In [18]:
Crimes_Against_SC.to_csv("Test_CSVs/Crimes_Against_SC_Test.csv")

### Crimes Against Children

In [19]:
Crimes_Against_Children = Crimes_Against_Children.drop(Crimes_Against_Children[Crimes_Against_Children.DISTRICT!="TOTAL"].index)

In [20]:
Crimes_Against_Children.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
28,ANDHRA PRADESH,TOTAL,2001,35.0,84.0,57.0,0.0,7.0,22.0,12.0,0.0,0.0,6.0,47.0,270
42,ARUNACHAL PRADESH,TOTAL,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
70,ASSAM,TOTAL,2001,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18
115,BIHAR,TOTAL,2001,2.0,16.0,26.0,0.0,0.0,1.0,16.0,1.0,1.0,2.0,18.0,83
137,GOA,TOTAL,2001,1.0,10.0,6.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,12.0,34

In [21]:
Crimes_Against_Children = Crimes_Against_Children.reset_index(drop=True)

In [22]:
Crimes_Against_Children.drop(['DISTRICT'], axis=1, inplace=True)

In [23]:
Crimes_Against_Children.to_csv("Test_CSVs/Crimes_Against_Children_Test.csv")

### Crimes Against Women

In [24]:
Crimes_Against_Women = Crimes_Against_Women[['Area_Name', 'Year', 'Group_Name', 'Total_Cases_for_Trial']]

In [25]:
Crimes_Against_Women.to_csv("Test_CSVs/Crimes_Against_Women_Test.csv")

### Police Strength

In [26]:
Police_Strength = Police_Strength[['Area_Name','Year','Group_Name','Rank_All_Ranks_Total']]
Police_Strength = Police_Strength[Police_Strength.Group_Name.str.contains("Total")]
Police_Strength = Police_Strength[~Police_Strength.Group_Name.str.contains("Women")]

In [27]:
Police_Strength.to_csv("Test_CSVs/Police_Strength_Test.csv")

### Crimes Against IPC

In [28]:
Crimes_Against_IPC = Crimes_Against_IPC.drop(Crimes_Against_IPC[Crimes_Against_IPC.DISTRICT!="TOTAL"].index)

In [29]:
Crimes_Against_IPC.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
28,ANDHRA PRADESH,TOTAL,2001,2602,1555,136,871,0,871,1182,...,872,34947,420,3544,2271,5791,7,7400,34344,130089
42,ARUNACHAL PRADESH,TOTAL,2001,83,53,3,33,0,33,83,...,13,466,0,78,3,11,0,0,618,2342
70,ASSAM,TOTAL,2001,1356,481,40,817,0,817,1480,...,441,5805,59,850,4,1248,0,2010,9315,36877
115,BIHAR,TOTAL,2001,3643,3419,250,888,0,888,2159,...,502,7544,859,562,21,1558,83,2406,36667,88432
135,CHHATTISGARH,TOTAL,2001,880,529,45,959,0,959,207,...,215,5477,70,1763,161,840,0,689,15790,38460

In [30]:
Crimes_Against_IPC = Crimes_Against_IPC.reset_index(drop=True)

In [31]:
Crimes_Against_IPC.drop(['DISTRICT'], axis=1, inplace=True)
C

In [32]:
Crimes_Against_IPC.to_csv("Test_CSVs/Crimes_Against_IPC_Test.csv")

## Creating the Visualization

In [34]:
# # Initializing the app
# app = dash.Dash()

# # Adding components to the app
# app.layout = html.Div(children = [
#     html.H1("Test"),

#     # dcc.Graph(
#     #     id = 'graph-1',
#     #     figure = {
#     #         'data': [
#     #             {'x': Crimes_Against_ST['DISTRICT'], 'y': Crimes_Against_ST['Total_Cases_for_Trial'], 'type': 'bar', 'name': 'ST'}
#     #             ],
#     #         'layout': {
#     #             'title': 'Crimes against ST'
#     #         }
#     #     }
#     # )
# ])

# # Running the app
# if __name__ == '__main__':
#     app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-component-suites/dash/deps/polyfill@7.v2_0_0m1637644873.12.1.min.js HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-component-suites/dash/deps/react@16.v2_0_0m1637644873.14.0.min.js HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-component-suites/dash/deps/prop-types@15.v2_0_0m1637644873.7.2.min.js HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-component-suites/dash/deps/react-dom@16.v2_0_0m1637644873.14.0.min.js HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-component-suites/dash/dash-renderer/build/dash_renderer.v2_0_0m1637644873.min.js HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-component-suites/dash/dcc/dash_core_components.v2_0_0m1637644873.js HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-component-suites/dash/dcc/dash_core_components-shared.v2_0_0m1637644873.js HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-component-suites/dash/html/dash_html_components.v2_0_0m1637644873.min.js HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-component-suites/dash/dash_table/bundle.v5_0_0m1637644873.js HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [23/Nov/2021 10:53:18] "GET /_favicon.ico?v=2.0.0 HTTP/1.1" 200 -

In [42]:
fig = px.line(
    x=Police_Strength[Police_Strength.Area_Name.str.contains("Tamil Nadu")].Year[:10], y=Police_Strength[Police_Strength.Area_Name.str.contains("Tamil Nadu")].Rank_All_Ranks_Total[:10], 
    title="sample figure", height=325
)

app = dash.Dash(__name__)


app.layout = html.Div([
    dcc.Graph(id="graph", figure=fig),
    html.Pre(
        id='structure',
        style={
            'border': 'thin lightgrey solid', 
            'overflowY': 'scroll',
            'height': '275px'
        }
    )
])
@app.callback(
    Output("structure", "children"), 
    [Input("graph", "figure")])
def display_structure(fig_json):
    return json.dumps(fig_json, indent=2)

app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

In [47]:
fig = px.bar(Crimes_Against_IPC[Crimes_Against_IPC.STATE/UT.str.contains("Tamil Nadu")], x='YEAR', y='TOTAL IPC CRIMES')
fig.show()

AttributeError: 'DataFrame' object has no attribute 'STATEUT'